/* $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }*/

  .answer {
   background: lightgrey;
  font-size: 20px;
   }


  a {
   color: grey;
   text-decoration: none;
 }
  a:hover {
     color: black;
 }

